<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>21-GITHUB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7B6023D1D193629008C4D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7B602561D19362A008C4D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7B602611D19362A008C4D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
